@{
    ViewBag.Title = "About";
}

<div class="container bg-info text-white text-center p-5 mt-5">
    <h1 class="display-6">About the project</h1>
    <p class="mt-5"></p>
    <p class="mt-2">Bla bla bla</p>
</div>
