@model LoginViewModel

@{ 
    ViewBag.Title = "Login";
}

<div class="container mt-5 bg-info text-white card rounded-3">
    <div class="card-header rounded-3 text-center">
        <h1 class="display-6 card-title">Login</h1>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="mt-3 mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>

            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <div class="card-footer rounded-3 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>

</div>