@{ 
    ViewBag.Title = "Error-Page";
}

<div class="container mt-5">
    <div class="card danger text-center">
        <div class="card-header">
            <h1 class="card-title text-danger">An unhandled exception occurred</h1>
        </div>
        <div class="card-body">
            <div class="alert alert-danger">
                <h6>An email with the error message has been sended to the administrator. We are sorry for the inconvenience.</h6>
                <p>Click <a asp-controller="Home" asp-action="Index">Here</a> for the Home Page.</p>
            </div>
        </div>
    </div>
</div>